# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# CUDA crap
*.ptx
*.cu

# exes
*.pdb
*.exe

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.exe
NDSB/bin/Debug/NDSB.pdb
NDSB/obj/x86/Debug/NDSB.csproj.FileListAbsolute.txt
*.dll
NDSB/obj/x86/Debug/NDSB.csprojResolveAssemblyReference.cache
*.Cache
NDSB/obj/x86/Debug/NDSB.Properties.Resources.resources
*.resources
NDSB/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
*.suo
*.manifest
NDSB/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NDSB.suo
